.card {
  page-break-after: always;
}

body {
  margin-top: 2em;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
}

.card {
  border: 1px solid #000;
  width: 500px;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 1em;
}

.card td {
  height: 100px;
  width: 100px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #000;
}

form {
  display: none;
}
